{
    font-family: serif;
    background-color: #f5f5f5;
    color: #415f77;
}
* {
    box-sizing: border-box;
}
.map {
    position: relative;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    max-width: 1600px;
    margin: 20px auto;

        height: 700px;

}
.map__image {
    position: absolute;
    top: 20px;
    left: 0;
    right: 280px;
    height: 800px;
    bottom: 0;
}
.map__image svg {
    width: 100%;
    height: 700px;
}
.map__image path {
    fill: #415f77;
    stroke: #769cb5;
    stroke-width: 1px;
    transition: fill 0.3s;
}
.map__image .is-active path {
    fill: #6a1691;
}
.map__list {
    float: right;
    width: 280px;
    border-left: 1px solid #dbdbdb;
}
.map__list li,
.map__list ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.map__list a {
    padding-left: 10px;
    display: inline-block;
    height: 30px;
    width: 100%;
    line-height: 30px;
    color: inherit;
    text-decoration: none;
    transition: 0.3s;
}
.map__list a.is-active {
    color: #6a1691;
    background-color: #f4f4f4;
    font-weight: bolder;
}
@media screen and (max-width: 720px) {
    .map__list {
        float: none;
        width: 100%;
        border-left: 1px solid #dbdbdb;
    }
    .map__image {
        padding: 10px;
        position: static;
        width: 100%;
    }
}
.map__image path.none-country{
    fill: #d8d8d8;
    stroke: #FFF;
}
